body {
    margin: 0;
}
/* todo cabecario */
header {
    font-size: 5vh; 
    color: aliceblue;
    padding-left: 40px;
    background-color: cadetblue;
}

#action-button > img {
    float: left;
    position: fixed;
    top: 0px;
    left: 0;
    width: 30px;
    background-color: cadetblue;
    border-radius: 0px 5px 5px 0px;
}

.menu {
    display: none;
    float: left;
    position: fixed;
    padding: 10px;
    top: 30px;
    left: 0;
    background-color: cadetblue;
    border-radius: 0px 5px 5px 0px;
    max-width: 100px;
    font-size: 20px;
    color: white;
}

.menu > a {
    color: white;
    font-size: 15px;
}
/* todo corpo  */
.container > img {
    width: 100%;
    height: 200px;
    
}

.form-container {
    max-width: 600px;
    margin: auto;
}
/* nosso input */
#tarefa {
    border-radius: 5px;
    margin: 0;
}

#send {
    background-color: mediumaquamarine;
    border: none;
    width: 40px;
    height: 1.2rem;
    color: azure;
}

.taskToDo {
    border: 1px solid gray;
    background-color: rgb(242, 242, 241);
    border-radius: 10px;
    max-width: 15rem;
}