body {
    margin: 0;
}

.todo-container {
    margin: auto;
    
}

header {
    padding: 2px;
    margin: 0;
    font-size: 35px; 
    color: aliceblue;
    padding-left: 40px;
    background-color: cadetblue;
}

.container > img {
    width: 100%;
    height: 160px;
}

.form-container {
    max-width: 400px;
    margin: auto;
}

.container {
    text-align: left;
    margi
}

#send {
    background-color: mediumaquamarine;
    border: none;
    color: azure;
}